.title {
    font-family: Impact, Haettenschweiler;
    font-size: 500%;
}
.imageButton {
  background-image: url("./Balint.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
  border: none;
  cursor: pointer;
}
